
{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container mt-4">
  <h4>{{ post.title }}</h4>

  <p>{{ post.content }}</p>
  <p><strong>Posted on:</strong> {{ post.created_at }}</p>

  <hr>
  
  {% if user == post.author %}
    <a href="{% url 'edit_post' slug=post.slug %}" class="btn btn-edit">Edit</a>
    <a href="{% url 'delete_post' slug=post.slug %}" class="btn btn-danger">Delete</a>
  {% endif %}
  
  <a href="{% url 'forum_post_list' %}" class="btn btn-secondary">Back to List</a>

  <hr>
  <h5>Comments:</h5>

  {% for comment in post.comments.all %}
    <div class="comment">
      <p><strong>{{ comment.author.username }}:</strong> {{ comment.content }}</p>
      <p><em>Posted on: {{ comment.created_at }}</em></p>

      {% if comment.author == user %}
        <a href="{% url 'edit_comment' comment.id %}" class="btn btn-edit">Edit</a>
        <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger">Delete</a>
      {% endif %}
    </div>
    <hr>
  {% empty %}
    <p>No comments yet. Be the first to comment!</p>
  {% endfor %}

  <hr>
  <h5>Add a comment:</h5>
  <a href="{% url 'add_comment' post.slug %}" class="btn btn-create">Add Comment</a>
</div>
{% endblock %}
 