
body {
    background-color: #D8D4D1;
}

/* header */
.navbar {
    background-color: #00BBFF !important;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
}

.navbar .navbar-text {
    color: #fff;
}

.thin {
    font-weight: 300;
}

.link {
    color: #524439;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* main content */
.organisator-link,
.page-link {
    text-decoration: none;
    color: #524439;
}

.organisator-link:hover {
    text-decoration: none;
    color: #c6a58a;
}

.card {
    border: none;
    background-color: transparent;
}

.card-text,
.card-body {
    font-weight: 400;
    color: #524439;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #524439;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background: #524439;
    z-index: 100;
}

.organisator {
    margin-left: 15px;
    margin-top: 15px;
}

.btn-signup,
.btn-edit,
.btn-search,
.btn-secondary {
    background-color: #524439;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #c6a58a;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* FAQs */
.faq-title {
    color: #524439;
}

/* Footer */
footer.footer {
    background-color: #39B739 !important;
    color: #ffffff;
}