{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Organisator name goes in these h1 tags -->
                <h1 class="post-title">{{ organisator.name }}</h1>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% if organisator.image %}{{ organisator.image.url }}{% else %}/static/images/default.jpg{% endif %}" alt="{{ organisator.name }}" style="max-width: 200px;">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <h2>General Information</h2>
                    <p>{{ organisator.contact_info|default:"No contact information available." }}</p>

                    <h2>Events</h2>
                    <ul>
                        {% for event in organisator.events.all %}
                            <li>{{ event.town }} - {{ event.date }} - {{ event.event_type }}</li>
                        {% empty %}
                            <p>No events available for this organisator.</p>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}